<%= form_for @course do |f| %>
   <div>
       <%= f.label :navn %><br/>
       <%= f.text_field :name %>
   </div>
   <div class="field">
       <%= f.label :beskrivelse %><br/>
       <%= f.text_area :description, :rows => 6 %>
   </div>
   <div class="field">
       <%= f.label :image %><br/>
       <%= f.text_field :image_url %>
   </div>
   <div class="field">
       <%= f.label :dato %><br/>
       <%= f.text_field :start_date %>
   </div>
   <div class="field">
       <%= f.label :tid %><br/>
       <%= f.text_field :start_time %>
   </div>
   </br>
   <div class="actions">
      <%= f.submit @course.new_record? ? "Opret Arrangement" : "Update Course" %>
   </div>
<% end %>
